.filterContainer {
  padding: 0.5em 1em;
  border-radius: 0.5em;
  color: white;
}

.menstrual {
  background-color: #7F73BF;
}

.bathroom {
  background-color: #B07EC9;
}

.safesex {
  background-color: #BA7688;
}

.community {
  background-color: #86C3B2;
}

.clinic {
  background-color: #61AFCB;
}